name: SCA - Dependency Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  sca:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run OWASP Dependency-Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: "devops-assignment"
          path: "."
          format: "HTML"
          out: "reports"

      - name: Upload report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: sca-reports
          path: reports/